* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
font-family: 'Montserrat', sans-serif;
font-family: 'Sen', sans-serif;
*/

body {
    background-color: #fff;
    font-family: 'Sen', sans-serif;
}


nav {
    background: #333333;
    padding: 0 16px;
    
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.menu li {
    font-size: 1em;
    padding: 1em 0.25em;
}

.menu li a {
    display: block;
}

.logo a {
    font-size: 20px;
}

/*Mobile Menu*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
}

.item.active {
    display: block;
}

.toggle {
    cursor: pointer;
}

.header-image {
    height: 40vh;
    width: 100%;
    position: relative;
}

.header-image:after {
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transform: skewY(-15deg);
}

.divider {
    width: 100%;
    height: 10vh;
    position: relative;
    background-color: #333;
    transform-origin: bottom right;
    transform: skewY(-15deg);
    display: inline-flex;
    align-items: center;
    justify-content: space-around
}
#b2{
        color: #ED4D38;
    }

button {
    border: none;
    background-color: #333;
    color: white;
}

form {
    display: inline-block;
    margin: 10em 1.875em 0 1.875em;
    width: 90%
    
}
label {
    float: left;
}

input {
    float: right;
    margin-bottom: .5em;   
}

